.container {
  position: relative;
  background-color: lightgray;
  height: 400px;
  width: 400px;
  border: 1px solid black;
}
.box {
  position: absolute;
  background-color: lightblue;
  color: white;
  top: 25px;
  right: 25px;
  border: 1px solid black;
}